@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --main-color: rgba(161, 255, 233, 1);
    --button-color: rgba(255, 153, 0, 1);
    --select-border: var(--main-color);
    --select-focus: blue;
    --select-arrow: var(--select-border);
 }
 html{
    font-family: "Source Code Pro";
 }
 select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
 }
.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}
.container{
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px 10px 0px 10px;
    box-sizing: border-box;
}
.font{
    font-family: "Source Code Pro";
}

/* Preloader */

.loading_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 998;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.preloader__item {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--button-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 999;
}
.preloader__item1 {
    animation-name: orbit-top-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.preloader__item2 {
    animation-name: orbit-top-right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.preloader__item3 {
    animation-name: orbit-down-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.preloader__item4 {
    animation-name: orbit-down-right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}

@keyframes orbit-top-left {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}

@keyframes orbit-top-right {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}

@keyframes orbit-down-left {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}

@keyframes orbit-down-right {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}

/* Map menu */

.gis_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 700px;
}
.filters_container{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10px;
    position: relative;
}
.map{
    width: 80%;
    position: relative;
}
.swither_contaner{
    position: absolute;
    width: 220px;
    height: 60px;
    background: white;
    top: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 3px;
    box-sizing: border-box;
}
.swither_elem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}
.switcher_button{
    margin-right: 5px;
    cursor: pointer;
}
.filters_header{
    margin-bottom: 10px;
}

/* checboxes */

.filters_item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.filters_checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filters_label{
    user-select: none;
    cursor: pointer;
}
.filters_checkbox+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--main-color);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }
  .filters_checkbox:checked+label::before{
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .filters_checkbox:not(:disabled):not(:checked)+label:hover::before{
    border-color: black;
  }
.editor_container{
    position: absolute;
    top: 20px;
    right: 50%;
    z-index: 999;
    padding: 0;
    box-sizing: border-box;
}
.edit_menu_buttons{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.edit_check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.edit_label{
    position: relative;
}
.move_check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.move_label{
    position: relative;
}
.delete_check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.delete_label{
    position: relative;
}
.itool{
    position: absolute;
    bottom: -20px;
    width: 100px;
    height: 20px;
    background: white;
    border: 1px solid var(--main-color);
    display: none;
    transition: all .2s linear;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -35px;
    z-index: 510;
}
.edit_label:hover>.itool{
    display: flex;
}
.move_label:hover>.itool{
    display: flex;
}
.delete_label:hover>.itool{
    display: flex;
}
.edit_menu_buttons_cell{
    flex-grow: 1;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0;
    box-sizing: border-box;
    margin-right: 10px;
}
.edit_check+label::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px ;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-color: white;
    background-image: url('../images/checkback_add.svg');
  }
.edit_check:checked+label::before{
    background-color: white;
    background-image: url('../images/checkback__add_active.svg');
}
.move_check+label::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px ;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-color: white;
    background-image: url('../images/checkback__move.svg');
  }
.move_check:checked+label::before{
    background-color: white;
    background-image: url('../images/checkback__move_active.svg');
}
.delete_check+label::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px ;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-color: white;
    background-image: url('../images/checkback__delete.svg');
  }
.delete_check:checked+label::before{
    background-color: white;
    background-image: url('../images/checkback__delete_active.svg');
}
.help_text{
    width: 150px;
    height: 35px;
    position: absolute;
    bottom: -55px;
    left: -20px;
    background: white;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 5px 5px;
}
/* create form */
.create_container{
    position: absolute;
    bottom: 20px;
    left: 5%;
    z-index: 510;
}
.create_form{
    padding: 20px 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.create_row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.create_row:nth-child(:last-child){
    margin-bottom: 10px;
}
.create_input{
    height: 30px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    font-family: "Source Code Pro";
}
.create_submit{
    width: 150px;
    height: 30px;
    background-color: var(--button-color);
    transition: all .2s linear;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.create_submit:hover{
    transform: scale(1.1);
}
.create_submit:active{
    transform: scale(1.1);
}
.create_close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background: transparent;
    border-radius: 3px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: all .2s;
}
.create_close:hover{
    border: 1px solid var(--main-color);
}
.create_close:hover > svg > path{
    transition: all .2s;
    fill: var(--main-color);
}
.create_select{
    width: 100%;
    border-bottom: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding-left: 2px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    height: 30px;
}
.create_select::-ms-expand {
    display: none;
}
.error_list{
    margin: 0;
    padding-left: 15px;
}
.error_header{
    color: red;
}
.error{
    font-size: 12px;
    color: red;
}
.service_error{
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 12px;
}