{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="{% static 'styles/app_map.css' %}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    {% verbatim %}
    <div id="app" class="container">
        <template
         v-if="loading"
         >
            <div class="loading_container">
                <span class="preloader__item preloader__item1"></span>
                <span class="preloader__item preloader__item2"></span>
                <span class="preloader__item preloader__item3"></span>
                <span class="preloader__item preloader__item4"></span>
            </div>
        </template>
        
    </div>
    {% endverbatim %}
</body>
    <script src="{% static 'scripts/app_map.js' %}"></script>
</html>