{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'styles/app_map.css' %}">
    <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>
</head>
<body>
    {% verbatim %}
    <div id="app" class="container">
        <div class="gis_menu">
            <div class="filters_container">
                <h4>
                    Filters:
                </h4>
                <h5>
                    Type:
                </h5>
                <div
                 v-for="type in types"
                 :key="type"
                 class="filters_item"
                 >
                    <input class="menu_item_fields_field_check_type" type="checkbox" :id="type" :name="type">
                    <label class="menu_item_fields_field_label" :for="type"> {{ type }} </label>
                </div>
            </div>
            <div class="map">
                <template>
                    <l-map style="height: 700px" :zoom="zoom" :center="center">
                       <l-tile-layer
                       :visible="osm"
                       :url="'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'"
                       ></l-tile-layer>
                       <l-tile-layer
                       :visible="google"
                       :url="'http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}'"
                       :subdomains="['mt0','mt1','mt2','mt3']"
                       ></l-tile-layer>
                      <l-geo-json
                            :show="showMarkers"
                            :geojson="geojson"
                            :options="options"
                       ></l-geo-json>
                    </l-map>
                </template>
                <div class="swither_contaner">
                    <div class="swither_elem">
                        <input
                         class="switcher_button"
                         v-model="tile"
                         value="osm"
                         type="radio"
                         name="tile"
                         checked
                         >
                        <label>Open street map</label>
                    </div>
                    <div class="swither_elem">
                        <input
                         class="switcher_button"
                         v-model="tile"
                         value="goo"
                         type="radio"
                         name="tile"
                        >
                        <label>Google sattelite hybrid</label>
                    </div>
                </div>
                <template
                 v-if="loading"
                 >
                    <div class="loading_container">
                        <span class="preloader__item preloader__item1"></span>
                        <span class="preloader__item preloader__item2"></span>
                        <span class="preloader__item preloader__item3"></span>
                        <span class="preloader__item preloader__item4"></span>
                    </div>
                </template>
            </div>

        </div>
    </div>
    {% endverbatim %}
</body>
    <script src="{% static 'scripts/app_map.js' %}"></script>
</html>